             * {
                 margin: 0;
                 padding: 0;
             }
             
             .wrapper {
                 position: relative;
                 width: 1400px;
                 margin: 0 auto;
                 min-height: 100vh;
                 background: aqua;
             }
             
             .container {
                 width: 81%;
                 background: darkgray;
                 margin: 0 auto;
             }
             
             .header {
                 height: 712px;
             }
             
             .header__container {
                 background: black;
                 height: 71px;
                 position: fixed;
             }
             
             .logo {
                 padding-top: 21px;
                 margin-left: 150px;
             }
             
             .header__nav {
                 display: inline-block;
                 margin-left: 582px;
             }
             
             .header__link {
                 font-family: 'Open Sans', sans-serif;
                 color: wheat;
                 font-size: 14px;
             }
             /*-----------------------------------------------------------------------------------------Intro-----*/
             
             .intro {
                 height: 641px;
                 background: url(../img/city-header.png);
                 padding-left: 147px;
                 padding-top: 180px;
             }
             
             .card {
                 width: 469px;
                 display: inline-block;
             }
             
             h2 {
                 color: wheat;
                 font-size: 36px;
                 font-family: 'Raleway', sans-serif;
                 font-weight: 400;
             }
             
             .line {
                 width: 64px;
                 height: 2px;
                 margin: 30px auto;
                 border: 0;
                 background: wheat;
             }
             
             p {
                 font-weight: 400;
                 font-size: 16px;
                 color: wheat;
                 font-family: 'Raleway', sans-serif;
             }
             
             button {
                 padding: 10px 20px;
                 border: none;
                 border-radius: 5px;
                 color: wheat;
                 background-color: transparent;
                 outline: none;
             }
             
             .form {
                 width: 300px;
                 padding: 32px;
                 border-radius: 10px;
                 box-shadow: 0 4px 16px #ccc;
                 font-family: 'Open Sans', sans-serif;
                 letter-spacing: 1px;
             }
             
             .form__input,
             .form__button {
                 font-family: 'Open Sans', sans-serif;
                 letter-spacing: 1px;
                 font-size: 16px;
             }
             
             .form__title {
                 text-align: center;
                 margin-bottom: 32 px;
                 font-weight: normal;
             }
             
             .form__group {
                 position: relative;
                 margin-bottom: 32px;
             }
             
             .form__label {
                 position: absolute;
                 top: 0;
                 z-index: -1;
                 color: #9e9e9e;
             }
             
             .form__input {
                 width: 100%;
                 padding-bottom: 10px;
                 border: none;
                 border-bottom: 1px solid#e0e0e0;
                 background-color: transparent;
                 outline: none;
             }
             
             .form__button {
                 padding: 10px 20px;
                 border: none;
                 border-radius: 5px;
                 color: wheat;
                 background-color: transparent;
                 outline: none;
             }
             /*main---------------------------------------------------------------------*/
             
             .box {
                 width: 112px;
                 height: 112px;
                 background: orange;
             }
             /* section---------------------------------------------------process-------------------*/
             
             .wrapper-process {
                 margin: 0 auto;
                 width: 1400px;
             }
             
             .container-process {
                 height: 590px;
                 text-align: center;
                 font-family: 'Open Sans', sans-serif;
             }
             
             .process__title {
                 font-family: 'Raleway', sans-serif;
                 font-size: 36px;
                 font-weight: 400;
                 color: #212121;
                 padding-top: 106px;
                 text-transform: uppercase;
             }
             
             .process__line {
                 width: 64px;
                 height: 2px;
                 margin: 30px auto;
                 border: 0;
                 background: orange;
             }
             
             .process__subtitle {
                 font-weight: 400;
                 font-size: 14px;
                 color: #86878B
             }
             
             .box-process {
                 display: inline-block;
                 width: 350px;
                 margin: 0 16px;
                 padding-top: 80px;
             }
             
             .title-process {
                 margin: 29px 0;
                 font-size: 20px;
                 font-weight: 700;
                 color: #333333;
             }
             
             .icon {
                 width: 70px;
                 height: 70px;
                 border: 2px solid orange;
                 border-radius: 50%;
                 margin: 0 auto;
             }
             
             .icon-lamp {
                 background: no-repeat center url(../img/lamp.png);
             }
             
             .icon-keyboard {
                 background: no-repeat center url(../img/keyboard.png);
             }
             
             .icon-lightning {
                 background: no-repeat center url(../img/lightning.png);
             }
             
             .subtitle-process {
                 font-weight: 400;
                 font-size: 14px;
                 color: #86878B
             }
             /* section--------------------------------------------------pricing--------------------*/
             
             .pricing {
                 text-align: center;
                 font-family: 'Open Sans', sans-serif;
                 background: darksalmon;
             }
             
             .pricing__title {
                 font-family: 'Raleway', sans-serif;
                 font-size: 36px;
                 font-weight: 400;
                 color: #212121;
                 padding-top: 106px;
                 text-transform: uppercase;
             }
             
             .pricing__line {
                 width: 64px;
                 height: 2px;
                 margin: 30px auto;
                 border: 0;
                 background: orange;
             }
             
             .pricing__subtitle {
                 font-weight: 400;
                 font-size: 14px;
                 color: #86878B
             }
             
             .box-list {
                 display: inline-block;
             }